.wizard, .wizard:focus {
    background-color: white;
    width: 135px;
    height: 40px;
    border: 0px;
    font-size: 28px;    
    outline:0 none;
    cursor: pointer;
}

.selected {
    color: black;

}

.unselected {
    color: gray;
}

.monthHeader {
    padding-bottom: 40px;
}