.App {
  display: grid;
  grid-template-columns: 0.1fr 1.8fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 1px 0px;
  grid-template-areas:
    "sidemenu searchbar"
    "sidemenu dashboard";
}
.sidemenu { grid-area: sidemenu; }
.header { grid-area: header; }
.dashboard { grid-area: dashboard; }
